.grid {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3 - 0.5rem));
  grid-template-rows: repeat(3, calc(100% / 3 - 0.5rem));
  gap: 0.5rem;
  background-color: gray;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.grid-slot {
  width: 100%;
  height: 100%;
}